$color1: #111E6C; /*Azul 1*/
$color2: #4579FF; /*Azul 2*/
$color3: #EFF4FF; /*Azul 3*/
$color4: #F7F7F7; /*Gris*/
$color5: #E9E9E9; /*Gris 2*/
$color6: #FF7A00; /*Naranja*/
$color7: #e2f5f4; /*Aqua*/

/*Body*/
body {
    color: $color1;
    background-color: $color4;
    font-family: "Inter", sans-serif;
    font-weight: 500;  
}
main {
    margin-top: 70px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 2rem;
}
.h1, h1 {
    font-size: 36px;
}
.h2, h2 {
    font-size: 30px;
}
.h3, h3 {
    font-size: 24px;
}
.h4, h4 {
    font-size: 21px;
}
.h5, h5 {
    font-size: 18px;
}
hr  {
    color: $color1;
    opacity: 1;
}
li:not(.nav-item) {
    margin-bottom: 10px;
}
.lead {
    font-weight: inherit;
    line-height: 1.5em;
}
.form-control {
    padding: 13px;
    border: none;
    &:focus {
        border-color: none;
        box-shadow: 0 0 0 1px $color2;
    }
}
*::placeholder {
    color: $color1 !important;
}
.btn {
    padding: 10px 24px;
    transition: all .3s ease;
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0px 1px 1px rgba(0,0,0,0.05), 0px 2px 2px rgba(0,0,0,0.05), 0px 4px 4px rgba(0,0,0,0.05), 0px 8px 8px rgba(0,0,0,0.05), 0px 16px 16px rgba(0,0,0,0.05);
    }
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: $color2;
    border-color: $color2;
}
.btn-light, .btn-light:hover, .btn-light:active, .btn-light:focus {
    color: $color2;
    background-color: $color3;
    border-color: $color3;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
    color: $color2;
    background-color: white;
    border-color: $color2;
}
.bootstrap-select>.dropdown-toggle {
    background-color: white !important;
    border-color: $color1 !important;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: $color1 !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: $color2;
}
.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}
.pt-6 {
    padding-top: 6rem !important;
}
.pb-6 {
    padding-bottom: 6rem !important;
}
.mt-6 {
    margin-top: 6rem !important;
}
.mb-6 {
    margin-bottom: 6rem !important;
}
@media (min-width: 576px) {
    .py-sm-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .pt-sm-6 {
        padding-top: 6rem !important;
    }
    .pb-sm-6 {
        padding-bottom: 6rem !important;
    }
    .mt-sm-6 {
        margin-top: 6rem !important;
    }
    .mb-sm-6 {
        margin-bottom: 6rem !important;
    }
}
@media (min-width: 768px) {
    .py-md-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .pt-md-6 {
        padding-top: 6rem !important;
    }
    .pb-md-6 {
        padding-bottom: 6rem !important;
    }
    .mt-md-6 {
        margin-top: 6rem !important;
    }
    .mb-md-6 {
        margin-bottom: 6rem !important;
    }
}
@media (min-width: 992px) {
    .py-lg-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .pt-lg-6 {
        padding-top: 6rem !important;
    }
    .pb-lg-6 {
        padding-bottom: 6rem !important;
    }
    .mt-lg-6 {
        margin-top: 6rem !important;
    }
    .mb-lg-6 {
        margin-bottom: 6rem !important;
    }
}
@media (min-width: 1200px) {
    .py-xl-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .pt-xl-6 {
        padding-top: 6rem !important;
    }
    .pb-xl-6 {
        padding-bottom: 6rem !important;
    }
    .mt-xl-6 {
        margin-top: 6rem !important;
    }
    .mb-xl-6 {
        margin-bottom: 6rem !important;
    }
}
@media (min-width: 1400px) {
    .py-xxl-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .pt-xxl-6 {
        padding-top: 6rem !important;
    }
    .pb-xxl-6 {
        padding-bottom: 6rem !important;
    }
    .mt-xxl-6 {
        margin-top: 6rem !important;
    }
    .mb-xxl-6 {
        margin-bottom: 6rem !important;
    }
}
.bg-primary {
    background-color: $color1 !important;
}
.bg-secondary {
    background-color: $color2 !important;
}
.bg-color3 {
    background-color: $color3;
}
.bg-color5 {
    background-color: $color5;
}
.bg-color7 {
    background-color: $color7;
}
section {
    position: relative;
}
@media (min-width: 1200px) {
    .fullheight {
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        .row {
            height: 100%;
        }
    }
    .contentheight {
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
    .two-columns {
        column-count: 2;
        column-gap: 30px;
    }
    
}
#breadcrumbs {
    background-color: $color3;
    font-size: 14px;
    a {
        color: $color1;
        text-decoration: none;
        &:hover {
            color: $color2;
        }
    }
}
.home-hero-bg {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background-color: $color1;
        opacity: 0.75;
        left: -2000px;
        right: 50%;
        top: 0;
        bottom: 0;
        border-top-right-radius: 300px;
        border-bottom-right-radius: 300px;
    }
}
.max-width-60per {
    max-width: 60%;
}
.title-with-line {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: -16px;
        display: block;
        width: 80px;
        height: 8px;
        background-color: $color7;
        border-radius: 12px;
    }
}
.featured-box {
    .featured-logo {
        position: relative;
        background-color: white;
        max-width: 60%;
        padding: 24px;
        margin: -50px auto 24px;
        img {
            width: 160px;
        }
    }
}
.white-box {
    display: block;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    color: $color1;
    text-decoration: none;
    &:hover {
        color: $color2;
    }
}
.product-box {
    background-color: white;
    min-height: 680px;
}
.circulos {
    position: relative;
    &:after {
        content: "";
        background-image: url("/img/circulos.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 17px;
        position: absolute;
        right: 0;
        bottom: 25px;
        @media screen and (min-width: 992px) {
            width: 500px;
            height: 34px;
        }
        @media screen and (min-width: 1920px) {
            right: -100px;
        }
    }
}
.grow-box {
    position: relative;
    background-size: cover;
    background-position: right center;
    min-height: 350px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    box-shadow: inset -150px 0 100px -100px rgb(17, 30, 108);
    &:hover {
        flex-grow: 4;
    }
    a {
        display: flex;
        align-items: flex-end;
        position: absolute;
        color: white;
        text-decoration: none;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-text-orientation: sideways;
        -moz-text-orientation: sideways;
        -ms-text-orientation: sideways;
        text-orientation: sideways;
        transform: scale(-1, -1);
        width: 100%;
        height: 100%;
        h2 {
            margin: 20px 0 20px 20px;
        }
    }
}
/*Header*/
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: $color1 !important;
}
header {
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-link {
        color: white;
        @media (min-width: 1400px) {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    nav {
        button.btn {
            position: absolute;
            color: $color1;
            border-color: transparent;
            padding: 6px 12px;
        }
        .form-control {
            padding: 6px 12px 6px 40px;
            max-width: 200px;
        }
        button.btn:hover {
            background-color: transparent;
            color: $color1;
            border-color: transparent;
        }
    }
}
.nav-link:focus, .nav-link:hover {
    color: $color2;
}
/*Footer*/
footer {
    font-size: 14px;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
    }
    h6, small {
        color: $color2;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav-link i {
        font-size: 12px;
        color: $color1;
        background-color: white;
        border-radius: 50%;
        padding: 4px;
        margin-right: 10px;
    }
}