/*Azul 1*/
/*Azul 2*/
/*Azul 3*/
/*Gris*/
/*Naranja*/
/*Aqua*/
/*Body*/
body {
  color: #111E6C;
  background-color: #F7F7F7;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

main {
  margin-top: 70px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.h1, h1 {
  font-size: 36px;
}

.h2, h2 {
  font-size: 30px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 21px;
}

.h5, h5 {
  font-size: 18px;
}

hr {
  color: #111E6C;
  opacity: 1;
}

li:not(.nav-item) {
  margin-bottom: 10px;
}

.lead {
  font-weight: inherit;
  line-height: 1.5em;
}

.form-control {
  padding: 13px;
  border: none;
}
.form-control:focus {
  border-color: none;
  box-shadow: 0 0 0 1px #4579FF;
}

*::-moz-placeholder {
  color: #111E6C !important;
}

*::placeholder {
  color: #111E6C !important;
}

.btn {
  padding: 10px 24px;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #4579FF;
  border-color: #4579FF;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:focus {
  color: #4579FF;
  background-color: #EFF4FF;
  border-color: #EFF4FF;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  color: #4579FF;
  background-color: white;
  border-color: #4579FF;
}

.bootstrap-select > .dropdown-toggle {
  background-color: white !important;
  border-color: #111E6C !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #111E6C !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #4579FF;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

@media (min-width: 576px) {
  .py-sm-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .pb-sm-6 {
    padding-bottom: 6rem !important;
  }
  .mt-sm-6 {
    margin-top: 6rem !important;
  }
  .mb-sm-6 {
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 768px) {
  .py-md-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .pb-md-6 {
    padding-bottom: 6rem !important;
  }
  .mt-md-6 {
    margin-top: 6rem !important;
  }
  .mb-md-6 {
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 992px) {
  .py-lg-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .pb-lg-6 {
    padding-bottom: 6rem !important;
  }
  .mt-lg-6 {
    margin-top: 6rem !important;
  }
  .mb-lg-6 {
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 1200px) {
  .py-xl-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .pb-xl-6 {
    padding-bottom: 6rem !important;
  }
  .mt-xl-6 {
    margin-top: 6rem !important;
  }
  .mb-xl-6 {
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 1400px) {
  .py-xxl-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .pb-xxl-6 {
    padding-bottom: 6rem !important;
  }
  .mt-xxl-6 {
    margin-top: 6rem !important;
  }
  .mb-xxl-6 {
    margin-bottom: 6rem !important;
  }
}
.bg-primary {
  background-color: #111E6C !important;
}

.bg-secondary {
  background-color: #4579FF !important;
}

.bg-color3 {
  background-color: #EFF4FF;
}

.bg-color6 {
  background-color: #e2f5f4;
}

section {
  position: relative;
}

@media (min-width: 992px) {
  .fullheight {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .fullheight .row {
    height: 100%;
  }
}
#breadcrumbs {
  background-color: #EFF4FF;
  font-size: 14px;
}
#breadcrumbs a {
  color: #111E6C;
  text-decoration: none;
}
#breadcrumbs a:hover {
  color: #4579FF;
}

.home-hero-bg {
  position: relative;
}
.home-hero-bg:before {
  content: "";
  position: absolute;
  background-color: #111E6C;
  opacity: 0.75;
  left: -2000px;
  right: 50%;
  top: 0;
  bottom: 0;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

.max-width-60per {
  max-width: 60%;
}

.title-with-line {
  position: relative;
}
.title-with-line:after {
  content: "";
  position: absolute;
  bottom: -16px;
  display: block;
  width: 80px;
  height: 8px;
  background-color: #e2f5f4;
  border-radius: 12px;
}

.featured-box .featured-logo {
  position: relative;
  background-color: white;
  max-width: 60%;
  padding: 24px;
  margin: -50px auto 24px;
}
.featured-box .featured-logo img {
  width: 160px;
}

.white-box {
  display: block;
  height: 100%;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  color: #111E6C;
  text-decoration: none;
}
.white-box:hover {
  color: #4579FF;
}

.circulos {
  position: relative;
}
.circulos:after {
  content: "";
  background-image: url("/img/circulos.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 17px;
  position: absolute;
  right: 0;
  bottom: 25px;
}
@media screen and (min-width: 992px) {
  .circulos:after {
    width: 500px;
    height: 34px;
  }
}
@media screen and (min-width: 1920px) {
  .circulos:after {
    right: -100px;
  }
}

.grow-box {
  position: relative;
  background-size: cover;
  background-position: right center;
  min-height: 350px;
  transition: all 0.6s;
  box-shadow: inset -150px 0 100px -100px rgb(17, 30, 108);
}
.grow-box:hover {
  flex-grow: 4;
}
.grow-box a {
  display: flex;
  align-items: flex-end;
  position: absolute;
  color: white;
  text-decoration: none;
  writing-mode: vertical-rl;
  -moz-text-orientation: sideways;
  -ms-text-orientation: sideways;
  text-orientation: sideways;
  transform: scale(-1, -1);
  width: 100%;
  height: 100%;
}
.grow-box a h2 {
  margin: 20px 0 20px 20px;
}

/*Header*/
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #111E6C !important;
}

header .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .nav-link {
  color: white;
}
@media (min-width: 1400px) {
  header .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
header nav button.btn {
  position: absolute;
  color: #111E6C;
  border-color: transparent;
  padding: 6px 12px;
}
header nav .form-control {
  padding: 6px 12px 6px 40px;
  max-width: 200px;
}
header nav button.btn:hover {
  background-color: transparent;
  color: #111E6C;
  border-color: transparent;
}

.nav-link:focus, .nav-link:hover {
  color: #4579FF;
}

/*Footer*/
footer {
  font-size: 14px;
}
footer .h1, footer .h2, footer .h3, footer .h4, footer .h5, footer .h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  margin-bottom: 1rem;
}
footer h6, footer small {
  color: #4579FF;
}
footer .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
footer .nav-link i {
  font-size: 12px;
  color: #111E6C;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  margin-right: 10px;
}